<div class="feed">

    <div class="create-post">

        <img src="https://i.pravatar.cc/40" alt="">

        <input type="text"
            placeholder="What's on your mind?">

    </div>

    <div class="post">

        <div class="post-top">
            <img src="https://i.pravatar.cc/40?img=5">

            <div>
                <h4>AS Gamer</h4>
                <p>2 hrs ago</p>
            </div>
        </div>

        <p class="post-text">
            Welcome to IshqBook ❤️
        </p>

        <img class="post-image"
            src="https://picsum.photos/600/300">

        <div class="post-actions">
            <button><i class="fa fa-heart"></i> Like</button>
            <button><i class="fa fa-comment"></i> Comment</button>
            <button><i class="fa fa-share"></i> Share</button>
        </div>

    </div>

</div>