<div class="left-sidebar">

    <div onclick="location.href='/home/profile/<%= user.userid %>'" class="menu-item">
        <i class="fa fa-user"></i>
        <span><%= user.name %></span>
    </div>

    <div class="menu-item">
        <a href="/home/friends"><i class="fa-solid fa-user-group"></i></a>
        <span>Friends</span>
    </div>

    <div class="menu-item">
        <i class="fa fa-video"></i>
        <span>Reels</span>
    </div>

</div>