<div class="right-sidebar">

    <h3>Contacts</h3>

    <div class="contact">
        <img src="https://i.pravatar.cc/35?img=10">
        <span>Rahul</span>
    </div>

    <div class="contact">
        <img src="https://i.pravatar.cc/35?img=15">
        <span>Mohit</span>
    </div>

</div>