body{
    margin:0;
    font-family:'Segoe UI',sans-serif;
    background:linear-gradient(135deg,#3b001f,#5e002c,#240015);
    color:#fff;
}

.profile{
    max-width:1220px;
    width:50%;
    margin: auto;
}

/* COVER */

.cover{
    border-radius:20px 20px 0 0;
    overflow:hidden;
    border:1px solid rgba(255,255,255,.12);
}

.cover-img{
    width:100%;
    height:300px;
    object-fit:contain;
    background:#000;
}

/* PROFILE HEADER */

.profile-header{
    background:rgba(255,255,255,.06);
    backdrop-filter:blur(12px);
    border:1px solid rgba(255,255,255,.12);
    border-top:none;
    border-radius:0 0 20px 20px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 25px;
}


.profile-left{
    display:flex;
    align-items:center;
    gap:20px;
}

.profile-pic{
    width:180px;
    height:180px;
    border-radius:50%;
    object-fit:cover;
    border:5px solid #ff5d8f;

    margin-top:0;
    transform:translateY(-70px);
}

.profile-details h2{
    margin:0;
    color:white;
    font-size:32px;

    white-space:nowrap;
}

.profile-details p{
    color:#d7c5ce;
    margin-top:6px;
}

/* BUTTONS */

.profile-right{
    display:flex;
    gap:10px;
    flex-wrap:wrap;
    justify-content:flex-end;
    align-items:center;
}

.profile-right button{
    border:none;
    border-radius:12px;
    padding:11px 20px;
    cursor:pointer;
    font-weight:600;
}

.add,
.accept{
    background:linear-gradient(135deg,#ff4d6d,#ff7b9b);
    color:white;
}

.msg{
    background:rgba(255,255,255,.08);
    color:white;
}

.friends{
    background:rgba(255,255,255,.08);
    color:white;
}

.requested{
    background:#ffbfd0;
    color:#222;
}

/* INFO CARD */

.card{
    margin-top:15px;

    background:rgba(255,255,255,.06);
    backdrop-filter:blur(12px);

    border:1px solid rgba(255,255,255,.12);
    border-radius:18px;

    padding:20px;
    color:white;
}

/* TABS */

.tabs{
    margin-top:15px;

    display:flex;

    background:rgba(255,255,255,.06);
    backdrop-filter:blur(12px);

    border-radius:18px;
    border:1px solid rgba(255,255,255,.12);

    overflow:hidden;
}

.tabs button{
    flex:1;
    border:none;
    background:transparent;
    color:#d7c5ce;

    padding:15px;
    cursor:pointer;
    font-weight:600;
}

.tabs button:hover{
    background:rgba(255,255,255,.05);
}

.tabs button.active{
    color:#ff6b8e;
    border-bottom:3px solid #ff6b8e;
}

/* CONTENT */

.section{
    margin-top:15px;

    background:rgba(255,255,255,.06);
    backdrop-filter:blur(12px);

    border-radius:18px;
    border:1px solid rgba(255,255,255,.12);

    padding:20px;
}

/* FRIENDS */

#friends > div{
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(180px,1fr));
    gap:15px;
}

#friends > div > div{
    background:rgba(255,255,255,.05);
    border-radius:15px;
    overflow:hidden;
    transition:.3s;
}

#friends > div > div:hover{
    transform:translateY(-5px);
}

#friends img{
    width:100%;
    height:180px;
    object-fit:cover;
}

#friends h3{
    color:white;
    text-align:center;
    padding:12px;
    margin:0;
}
/*  */
/* COVER */

.cover{
    position:relative;
    border-radius:20px 20px 0 0;
    overflow:hidden;
    border:1px solid rgba(255,255,255,.12);
}

/* PROFILE PIC WRAPPER */

.profile-pic-wrapper{
    position:relative;
    margin-bottom: -70px
}

/* CAMERA BUTTON */

.camera-btn{
    position:absolute;
    width:45px;
    height:45px;
    border-radius:50%;
    background:rgba(0,0,0,.7);

    display:flex;
    align-items:center;
    justify-content:center;

    cursor:pointer;
    font-size:20px;

    opacity:0;
    transition:.3s;
}

/* COVER CAMERA */

.cover-camera{
    bottom:15px;
    right:15px;
}

/* PROFILE CAMERA */

.profile-camera{
    right:10px;
    bottom:15px;
}

/* Hover pe hi show */

.cover:hover .cover-camera{
    opacity:1;
}

.profile-pic-wrapper:hover .profile-camera{
    opacity:1;
}

/* MENU */

.img-menu{
    position:absolute;
    right:15px;
    top:15px;

    background:#5e002c;
    border-radius:12px;

    overflow:hidden;

    display:none;
    min-width:140px;

    z-index:100;
}

.img-menu button{
    width:100%;
    border:none;
    background:transparent;
    color:white;

    padding:12px;
    cursor:pointer;
    text-align:left;
}

.img-menu button:hover{
    background:rgba(255,255,255,.1);
}

.img-menu button:disabled{
    opacity:.4;
    cursor:not-allowed;
}
.cover-camera{
    bottom:15px;
    right:15px;
}

#coverMenu{
    position:absolute;
    right:15px;
    bottom:70px;   /* camera ke upar */
    top:auto;
}
.requested-btn{
    position:relative;
    overflow:hidden;
    background:#ffbfd0;
    color:#222;
    border:none;
    border-radius:12px;
    padding:11px 20px;
    cursor:pointer;
    font-weight:600;
}

.requested-btn .hover-text{
    display:none;
}

.requested-btn:hover .default-text{
    display:none;
}

.requested-btn:hover .hover-text{
    display:inline;
    color:#e60023;
    font-weight:700;
}


.profile-loader{
    position:absolute;
    top:-90px;
    left:0;

    width:180px;
    height:180px;

    border-radius:50%;
    display:none;

    pointer-events:none;
    z-index:20;
}

.profile-loader::before{
    content:"";

    position:absolute;
    inset:-8px;

    border-radius:50%;

    border:5px solid transparent;

    border-top-color:#ff5d8f;
    border-right-color:#ff8fb1;

    animation:ringSpin .8s linear infinite;
}

.profile-loader::after{
    content:"";

    position:absolute;
    inset:-8px;

    border-radius:50%;

    box-shadow:
        0 0 15px rgba(255,93,143,.7),
        0 0 30px rgba(255,93,143,.35);
}

.profile-pic.uploading{
    opacity:.55;
}

.profile-camera{
    z-index:30;
}

@keyframes ringSpin{
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
}

/* cover  */
.cover{
    position: relative;
}

.cover-loader-content{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:70px;
    height:70px;
    border:6px solid rgba(255,255,255,.4);
    border-top:6px solid #fff;
    border-radius:50%;
    animation:spin 1s linear infinite;
    display:none;
    z-index:100;
}

@keyframes spin{
    100%{
        transform:translate(-50%,-50%) rotate(360deg);
    }
}
/* photos button */
.photos-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:15px;
}

.photos-header h3{
    margin:0;
}

.add-photo-btn{
    border:none;
    padding:10px 16px;
    border-radius:10px;
    cursor:pointer;
    font-weight:600;

    background:linear-gradient(135deg,#ff4d6d,#ff7b9b);
    color:white;

    display:flex;
    align-items:center;
    gap:8px;

    transition:.3s;
}

.add-photo-btn:hover{
    transform:translateY(-2px);
}
/* create posts form ki css*/
.post-modal{
    position:fixed;
    inset:0;

    background:rgba(0,0,0,.6);

    display:none;
    justify-content:center;
    align-items:center;

    z-index:9999;
}

.post-box{
    width:600px;
    max-width: 90%;
    max-height:90vh;

    overflow-y:auto;

    background:#fff;
    color:#111;

    border-radius:15px;
    padding:20px;
    box-sizing: border-box;
}

.post-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.post-user{
    display:flex;
    align-items:center;
    gap:10px;
    margin:15px 0;
}

.post-user img{
    width:45px;
    height:45px;
    border-radius:50%;
    object-fit:cover;
}

#caption{
    width:100%;
    min-height:120px;

    border:none;
    outline:none;

    resize:none;

    font-size:18px;
}

#previewContainer{
    margin-top:15px;

    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(150px,1fr));
    gap:10px;
}

#previewContainer img{
    width:100%;
    height:150px;
    object-fit:cover;
    border-radius:10px;
}

#submitPost{
    width:100%;
    margin-top:20px;

    padding:12px;

    border:none;
    border-radius:10px;

    background:#1877f2;
    color:white;

    cursor:pointer;
}
